@charset "UTF-8";
/* ------------------------reset-------------------------------------  */

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  /* elimina separaciones de los elementos*/
  margin: 0;
  /* elimina separaciones de los elementos*/
  box-sizing: borderbox;
  /* setea ta,año del elemento*/ }

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

/*
@import "./base/mediaquerys";
@import "./components/header";
@import "./components/hero";
@import "./components/productos";
@import "./components/servicios";
@import "./components/nosotros";
@import "./components/contacto";
@import "./components/main";
@import "./components/footer";
*/
