
.nosotros                  /** Clase para la pagina de servicios*/
    {   
        width: 100%;            /* Ocupa todo el ancho de la pantalla*/
        height: 300px;          /** deja lugar para una foto*/
        text-align: center;   
        background-color: $color-fondo-body;
        color: $color-fuente;
        
        background-image: linear-gradient(rgba(197, 187, 171, 0.699), rgba(208, 210, 175, 0.727)), url("../img/Background-image-index.jpg");
        
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    h2, p       
        {
            
            text-align: center;
            font-size:xx-large;
        }    

    p       
        {
            font-size:medium;
        }    
